// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    background-color: #999;
}

a {
    text-decoration: none !important;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 17px;
    scroll-behavior: smooth;
    background-color: #F0F0F0;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-weight: 300;
    font-size: 2em;
}

h4 {
    font-weight: 300;
    font-size: 1.6em;
}

.bg-red {
    background-color: #cc0133;
}

.poly {
    width: 100vw;
    height: 70px;

    .red-fill {
        fill: #cc0133;
    }

    .white-fill {
        fill: #F0F0F0;
    }

    .light-fill {
        fill: #f0f0f0;
    }
}

svg {
    overflow: hidden;
    vertical-align: middle;

}

#nav {
    position: absolute;
    display: flex;
    z-index: 3;
    color: #fff;

    @media (min-width: 800px) {
        width: 800px;
        margin: 20px calc(50% - 400px);
    }

    @media (max-width: 800px) {
        width: calc(100% - 40px);
        margin: 20px;

        h3 {
            font-size: 1.5em;
        }

        .login span {
            font-size: .8em;
        }
    }

    .login {
        cursor: pointer;
        width: 110px;
        height: 30px;
        text-align: right;
        padding-right: 30px;
        padding-top: 2px;
        background-image: url('https://cmgt.hr.nl/./images/login.svg');
        background-repeat: no-repeat;
        background-position-x: 100%;
    }
}

.banner-bg {

    min-height: 580px;
    display: flex;
    flex-direction: column-reverse;
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%, cover;

    .banner {
        border: 1px solid transparent;
        width: 100%;
        max-width: 800px;
        color: #fff;
        margin: 0 auto;

        @media (max-width: 850px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: 14px;
            font-size: 4em;
        }

    }
}

button {
    color: #545454;
    font-size: 1em;
    background: #fff;
    padding: 10px 24px;
    text-decoration: none;
    border: 0;
    cursor: pointer;

}

button:hover {
    background: #cc0133;
    text-decoration: none;
    color: #fff;
}

.main-bg {
    background-color: #cc0133;

    main {

        color: #FFF;
        border: 1px solid transparent;
        max-width: 800px;
        margin: 0 auto;

        @media (max-width: 850px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        p {
            line-height: 1.6;
            font-weight: 400;
        }
    }
}

.singlecase {
    height: 350px;
    font-size: 1rem;
    transition: all .4s ease-out;
    cursor: pointer;
    text-decoration: none;
    flex: 0 1 46%;
    background-color: #fff;

    .thumbnail {
        height: 70%;
        background: no-repeat 50%;
        -webkit-background-size: cover;
        background-size: cover;
        transition: all .6s ease-out;

        .title {
            color: #FFF;
            height: 100%;
            padding: 12px 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background: url('https://cmgtmemes.nl/images/overlay.svg') no-repeat bottom;
            -webkit-background-size: 100% 40%;
            background-size: 100% 40%;
        }
    }

    .description {
        padding: 12px 20px;
        height: 3%;
        color: #000;
        background-color: #fff;
    }

}

.singlecase:hover {
    box-shadow: 0 0 36px 4px rgba(0, 0, 0, .33);
    transform: scale(1.06);
}

.tag {
    display: inline-block;
    background-color: #cc0133;
    color: #fff;
    font-size: .75em;
    font-weight: bolder;
    padding: 4px 10px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 5px;

    a {
        text-decoration: none;
        color: #fff;
    }
}

.tag.overview {
    background-color: #fff;

    a {
        color: #cc0133 !important;
    }
}

.browser-bg {

    background-color: #f0f0f0;

    .title {
        max-width: 800px;
        margin: 10px auto;
        margin-bottom: 30px;
    }

    .browser {
        max-width: 800px;
        display: block;
        margin: 0 auto;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    @media (max-width: 800px) {
        .title,
        .browser {
            margin-left: 20px;
            margin-right: 20px;
        }

        .container {
            margin: 0 20px 0 20px;
        }
    }
}

#lower-half {

    .verticalspacer {
        height: 60px;
    }

    .removespace {
        height: 70px;

        svg {
            width: 100vw;
            height: 70px;

            .medium {
                fill: #ccc;
            }
        }
    }

    .main-bg {
        background-color: #ccc;
        min-height: 200px;
        color: #fff;

        .main {
            font-size: 1.2em;
            max-width: 800px;
            margin: 0 auto;
        }

        .item a {
            color: #fff;
            text-decoration: none;
        }

        @media (max-width: 800px) {
            .main {
                margin: 0 20px 0 20px;
            }
        }

    }

    .footer-bg.dark {
        background-color: #999;

        .bg-medium {
            background-color: #ccc;
        }
        svg {

            width: 100vw;
            height: 70px;

            .dark {
                fill: #999;
            }
        }

        .footer {
            max-width: 1000px;
            margin: 0 auto;
            color: #fff;
            display: flex;
            font-size: 1.2em;

            .item {
                flex: 0 1 auto;
            }

            .item:not(:first-child) {
                margin-left: 20px;
            }
        }

        .footer.links {
            margin-top: 30px;
            margin-bottom: 100px;
        }

        .footer.sub {
            margin-bottom: 30px;

            .copyright {
                color: hsla(0, 0%, 100%, .8);
                font-size: .8em;
            }

            .spacer {
                flex: 1 0 auto;
            }
        }

        @media(max-width: 800px) {

            .footer.links,
            .footer.sub {
                margin: 0 20px 0 20px;

                .item {
                    margin-left: 0;
                }
            }
            .footer {
                font-size: 1.2em;
            }

            .footer, .copyright {
                padding: 0 20px 0 20px;
                display: block;
            }
        }
    }
}

.explanation {
    font-size: .9em;
    font-style: italic;
    color: rgba(0, 0, 0, .7);
}

.full-width {
    width: 100%;

    @media(max-width: 800px) {
        width: 80%;
    }
}

.required {
    border: 1px solid red;
}

label {
    margin: 0;
}

.custom-file {

    @media(max-width: 800px) {
        width: 80%;
    }
}

.responsive-image {
    width: 100%;
}

.description a {
    color: #000 !important;

}
.tag a {
    color: #fff !important;
}
